{{- /*  Initialize. */}}
{{- $expertise := "" }}

{{- /* Get params. */}}
{{- with (.Get 0) }}
  {{- $expertise = . }}
{{- else }}
  {{- errorf "The %q shortcode requires a single positional argument."}}
{{- end }}

{{- $teamMembers := partials.IncludeCached "data/team-by-name" . }}

<table>
  <thead>
      <th>Name</th>
      <th>Role</th>
  </thead>
  <tbody>
    {{- range $teamMembers }}
    {{- if in .expertise $expertise }}
      <tr>
        <td>{{ partial "member-by-name" .name }}</td>
        <td>{{ .role | safe.HTML }}</td>
      </tr>
    {{- end }}
    {{- end }}
  </tbody>
</table>

<style>
    img.avatar {
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid lightgray;
    aspect-ratio: auto 90 / 90;
    overflow-clip-margin: content-box;
    }
</style>
